<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTF65Y_V2tDPonUrDD4VJ55etbKusU_ss</string>
	<key>GCM_SENDER_ID</key>
	<string>193732843001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kam1z.togetherpet</string>
	<key>PROJECT_ID</key>
	<string>together-pet-839dc</string>
	<key>STORAGE_BUCKET</key>
	<string>together-pet-839dc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193732843001:ios:34a3d2d3b157d285249928</string>
</dict>
</plist>